@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.maindiv1{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
}